#main-game {
    display: grid;
    grid-template-columns: repeat(10, 1.5vw);
    grid-template-rows: repeat(20, 1.5vw);
}

#tetromino-preview {
    display: grid;
    grid-template-columns: repeat(4, 1.5vw);
    grid-template-rows: repeat(20, 1.5vw);
}

.cell {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
}